body {
  font-family: sans-serif;
}
button {
  display: -webkit-inline-box;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #ffffff;
  background: #111111;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}
.input-container {
  margin: 3rem;
}
input {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
input[type="number" i] {
  padding: 1px 2px;
}

.input-container .label {
  font-size: 1.5rem;
}
